<nav class="flex items-center justify-between flex-wrap bg-blue-500 p-6">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <img src="\icons\robotcoders.svg" class="w-16 h-16" />
    <span class="font-semibold text-xl tracking-tight">Robot Coders Dashboard</span>
  </div>
  <div class="flex-grow flex items-center w-auto">
    <div class="text-sm flex-grow">
      <a href="/" class="inline-block mt-0 text-blue-200 hover:text-white mr-4">
        Home
      </a>
      <a href="/teams" class="inline-block mt-0 text-blue-200 hover:text-white mr-4">
        Teams
      </a>
      <a href="/robots" class="inline-block mt-0 text-blue-200 hover:text-white mr-4">
        Robots
      </a>
      <a href="/robotdrive" class="inline-block mt-0 text-blue-200 hover:text-white mr-4">
        Robot Testing
      </a>
    </div>
    <div>
      <a href="https://robotcoders.club" target="newWindow" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">Documentation</a>
    </div>
  </div>
</nav>
