<footer class="w-full flex flex-row space-x-4 items-center text-center border-t border-grey p-4 pin-b bg-blue-500 text-white">
    <form action="/teamaction" method="post" class="flex space-x-2 text-black text-md my-3">
        <input class="w-64 h-8 px-2" type="text" name="addteam" placeholder="New Team Name" />
        <button type="submit">+</button>
    </form>
    <form action="/paction" method="post" class="flex space-x-2 text-black text-md my-3">
        <input class="w-32 h-8 px-2" type="text" name="firstname" placeholder="Firstname" />
        <input class="w-32 h-8 px-2" type="text" name="lastname" placeholder="Lastname" />
        <input class="w-32 h-8 px-2 " type="text" name="username" placeholder="Username" />
        <input class="w-32 h-8 px-2" type="text" name="usercode" placeholder="Usercode" />
        <button type="submit" name="addparticipant">+</button>
    </form>
</footer>