<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/header.ejs'); %>
</head>

<body class="h-screen overflow-auto min-h-screen" style="background: #edf2f7;">
  <%- include('../partials/nav.ejs'); %>

  <% if (errors && errors.message) { %>
  <h2 class="bg-red-800 text-white font-bold text-xl p-2"><%= errors.message %></h2>
  <% } %>

    <!-- container for all cards -->
    <div class="container w-100 lg:w-4/5 mx-auto flex flex-col">
      <!-- card -->
      <div class="flex flex-col md:flex-row overflow-hidden
                                        bg-white rounded-lg shadow-xl  mt-4 w-100 mx-2">
        <!-- content -->
        <div class="w-full py-4 px-6 text-gray-800 flex flex-col justify-between">
          <h3 class="font-semibold text-lg leading-tight truncate">Settings Folder Location</h3>
          <p class="text-sm text-gray-700 tracking-wide font-semibold mt-2">
            Change (or set) the folder location for the Robot Dashboard Settings below.
          </p>
          <p class="mt-2">
            <img src="\icons\folder-settings.svg" class="w-16 h-16 rounded-full border-solid border-2 border-black bg-purple-200 hover:bg-yellow-500" onclick="openFolder()" />            
          </p>
          <p class="text-sm text-gray-700 tracking-wide font-semibold mt-2">
            <%= settingsdir %>
          </p>
        </div>
      </div><!--/ card-->
    </div><!--/ flex-->
  
</body>
</html>

<script type="text/javascript">

openFolder = async function() {
  const title = "Settings Folder Location";
  const message = "Choose the folder location where settings files will be located.";
  let robj = window.nodeStuff.getFolder(title, message);
  console.log("HERE is robj", robj);
  if (robj) {
    settingsdir = robj;
    window.nodeStuff.setSettingsDir(robj);
  }
}
</script>
